// :root{
//   /** google **/
//   --ion-color-google: #ea4335;
//   --ion-color-google-rgb: 234,67,53;
//   --ion-color-google-contrast: #ffffff;
//   --ion-color-google-contrast-rgb: 255,255,255;
//   --ion-color-google-shade: #ce3b2f;
//   --ion-color-google-tint: #ec5649;
// }
.errormessage{
    margin-top: 5px;
    color: red;
    text-align: right;
    padding-right: 10px;
    font-style: italic;
    font-size: 13px;
}
ion-button{
    --background: var(--ion-color-google);
}
.data {
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 10px;
}