<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="12" size-md="6" size-lg="3" class="data">
          <ion-avatar>
            <img class="ion-justify-content-center" [src]="user.photoURL" />
          </ion-avatar>
          <ion-text ><h1>{{user.displayName}}</h1></ion-text>
          <ion-text ><h3>{{user.email}}</h3></ion-text>
          <ion-text ><h3>{{user.phoneNumber}}</h3></ion-text>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid>
    <form [formGroup]="myForm">
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="12" size-md="6" size-lg="3">
          <ion-item lines="full">
            <ion-label position="floating">Número de control</ion-label>
            <ion-input type="text" formControlName="controlNumber"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['controlnumber']">
              <div class="errormessage" *ngIf="(myForm.get('controlNumber').dirty || 
                myForm.get('controlNumber').touched) && myForm.get('controlNumber').hasError(item.type) ">
                {{item.message}}
              </div>
            </ng-container>
          </div>
          <ion-item lines="full">
            <ion-label position="floating">NIP</ion-label>
            <ion-input type="password" formControlName="nip"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['nip']">
              <div class="errormessage" *ngIf="(myForm.get('nip').dirty || 
                myForm.get('nip').touched) && myForm.get('nip').hasError(item.type) ">
                {{item.message}}
              </div>
            </ng-container>
          </div>
          <ion-row>
            <ion-col>
              <ion-button (click)="login(myForm.value)" type="submit" color="danger" expand="block"
                *ngIf="myForm.valid">Sign In</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>