<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudiantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item-sliding *ngFor="let student of students; let i = index;">
            <!-- <ion-item [routerLink]="['/profile']"> -->
            <ion-item  (click)="getStudentByControlNumber(student.controlNumber)">
              <ion-label>
                {{student.name}}
            </ion-label>
            </ion-item>
            <ion-item-options expandable side="start">
                <ion-item-option color="warning" (click)="goToProfile(student)">
                  <ion-icon name="eye-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="removeStudent(i)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button  (click)="newStudent()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>